body {
  background-color: lightgrey;

}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}
body,
figure {
  margin:0;
}
body {
  max-width: 60em; /*960px*/
  padding: 1em 1em 1em 1em; /* (clockwise)*padding-top, padding-right, padding-bottom, padding-left */
  margin-left: auto;
  margin-right: auto;
}

/*hero-banner*/
figure.hero {
  margin: 0 -1em;
}
figure.hero img {
  margin-top: 3em;
}

figure.hero figcaption {
  margin: 0 1em;
}

h1 {
  font-size: 2em;
  font-style: oblique;
}

p {
  line-height: 1.5; /*unitless*/
  font-size: 1.3em;
}

p.byline {
  font-weight: bold;
}

h2 {
  color: red;
}
